@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f9fafb;
}

.logo > svg > g > g > path,
.logo > svg > g > g > polygon,
.logo > svg > g > g > rect {
  fill: #fff;
}

.search > div > input:focus {
  outline: none;
  color: #272e71;
  color: #073c41;
}

.ql-container {
  border-radius: 0 0 7px 7px;
}
.ql-toolbar.ql-snow {
  border-radius: 7px 7px 0 0;
}
.ql-editor {
  min-height: 12em;
}
